{% set postComments = comments | commentsFor(postSlug) %}
{% if postComments.length %}
<div class="comments-section">
  <h3>Comments ({{ postComments.length }})</h3>
  <div class="comments-list">
    {% for comment in postComments %}
    <div class="comment">
      <div class="comment-header">
        <strong class="comment-name">{{ comment.name }}</strong>
        <time class="comment-date" datetime="{{ comment.date | isoDate }}">{{ comment.date | readableDate }}</time>
      </div>
      <div class="comment-body">
        {{ comment.comment }}
      </div>
    </div>
    {% endfor %}
  </div>
</div>
{% endif %}
